/*  src/footer.css  */
.footer {
    color: #fff;
    position: relative;
    width: 100%;
}

.footer .footer-main {
    padding-top: 2vw;
    width: 95%;
    background-color: black;
    padding-left: 5%;
    padding-bottom: 12vw;
}

.footer .footer-main .navs {
    position: relative;
    top: 0;
}

.footer .footer-main .navs ul {
    margin: 0;
}

.footer .footer-main .navs ul li {
    display: inline;
    font-size: 1vw;
    margin-right: 1%;
    font-family: sans-serif;
    font-weight: 100;
}

.footer .footer-main .navs ul span{
    display: inline-block;
    margin-left: 1%;
}

.footer .footer-main .copyright {
    width: 90%;
    position: relative;
    height: 2vw;
    left: 3.5%;
}

.footer .footer-main .copyright h1 {
    font-size: 1vw;
    font-family: sans-serif;
    font-weight: 100;

}

.footer .footer-main .icons {
    top: 1.5vw;
    position: relative;
    width: 90%;
    left: 3.5%;
}

.footer .footer-main .icons .icons-left {
    display: inline-block;
    position: relative;
    width: 50%;
}

.footer .footer-main .icons-left .image-container {
    display: inline;
    margin-right: 1vw;
}

.footer .footer-main .icons-left .image-container .image {
    width: 2%;
}

.footer .footer-main .icons-left .image-container .big {
    width: 3%;
}

.footer .footer-main .icons .icons-right {
    float: right;
    position: relative;
    width: 40%;
    right: 6vw;
}

.footer .footer-main .icons-right .image-container {
    display: inline;
    margin-right: 1vw;
}

.footer .footer-main .icons-right .image-container .image {
    width: 20%;
}

.footer .footer-main .icons-right .image-container .small {
    width: 15%;
}