/*  src/Header.css  */
.header {
    color: #fff;
    position: relative;
    width: 100%;
}

.header .main-header {
    width: 100%;
    background-color: rgb(26, 84, 192);
 }

.header .main-header .header-container {
   width: 80%;
   margin-left: 10%;
   display: inline-block;
}

.header .main-header .header-container h1{
    display: inline-block;
    font-size: 1.8vw;
}

.header .container-right{
    position: relative;
    top: 1.5vw;
    float: right;
    margin-right: 15vw;
    text-align: center;
    font-size: 1.4vw;
    color: white;
}

.header .container-right .Login{
    color: white;
    display: inline-block;
    margin-right: 20px;
    text-decoration: none;
}

.header .container-right .Trial{
    background-color: rgba(0, 0, 0, 0.856);
    padding: 10px;
    text-decoration: none;
    color: white;
}

.SubHeader{
    position: relative;
    background-color: rgb(63, 62, 62);
    color: white;
    padding: 0.1vw;
}

.SubHeader h1{
    margin-left: 9.5vw;
    font-size: 1.6vw;
    font-weight: 300;
}