/*  src/Header.css  */
.header {
    color: #fff;
    position: relative;
    width: 100%;
}

.header .main-header {
    padding-top: 0.5vw;
    width: 100%;
    background-color: rgb(26, 84, 192);
 }

.header .main-header .header-container {
   width: 80%;
   margin-left: 10%;
   display: inline-block;
}
 
.header .main-header .header-container h1{
    display: inline-block;
    font-size: 1.8vw;
    font-family: sans-serif
}

.header .container-right{
    position: relative;
    top: 1.5vw;
    float: right;
    margin-top: -0.5vw;
    text-align: center;
    font-size: 1.4vw;
    color: white;
}

.header .container-right .Login{
    color: white;
    display: inline-block;
    margin-right: 4vw;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1vw;

}

.header .container-right .Trial{
    background-color: rgb(36, 35, 35);
    text-decoration: none;
    color: white;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 0.7vw;
    padding-bottom: 0.7vw;
    font-family: sans-serif;
    font-size: 1vw;
}

.SubHeader{
    position: relative;
    background-color: rgb(63, 62, 62);
    color: white;
    padding: 0.1vw;
}

.SubHeader h1{
    margin-left: 9.5vw;
    font-size: 1.6vw;
    font-weight: 300;
}