.main-body {
    width: 100%;
    margin-top: 2%;
    position: relative;
    min-height: 37vw;
}

.main-body .column-container {
    width: 90%;
    margin-left: 10%;
}

.main-body .column-container .column-body {
    position: relative;
    display: inline-block;
    width: 15%;
    margin-right: 2vw;
}

.main-body .column-container .column-body .Placeholder {
    align-items: center;
    position: relative;
    background-color: black;
    height: 15vw;
}

.main-body .column-container .column-body .Placeholder .image-placeholder {
    margin-top: 3vw;
    width: 100%;
    position: relative;
}

.main-body .column-container .column-body .Placeholder h1 {
    font-size: 2vw;
    position: absolute;
    margin-top: -5vw;
    margin-left: 25%;
}

.main-body .column-container .column-body h2{
    color: black;
    font-size: 1.5vw;
}

.link {
    color: white;
    text-decoration: none;
}

.link:hover {
    color: rgb(158, 158, 167);
}