.movie-body{
    width: 100%;
    position: relative;
} 

.movie-body .movie-body-inner{
    width: 90%;
    padding-left: 7vw;
    padding-top: 2vw;
    position: relative;
}

.movie-body .movie-body-inner .movie-column{
    background-color: aliceblue;
    width: 15%;    
    display: inline-block;
    position: relative;
    margin-left: 0.8vw;
    margin-bottom: 1vw;
    height: 22vw;
    text-align: center;
}

.movie-body .movie-column .movie-image-container{
    position: relative;
    width: 90%;
    height: 15vw;
    margin-left: 5%;
}

.movie-body .movie-column .movie-image-container .image{
    position: relative;
    display: inline-block;
    width: 100%;  
}

.movie-body .movie-column .movie-title{
 position: absolute;
 height: 2vw;
 bottom: 2vw;
 margin-left: 5%;

}

.movie-body .movie-column .movie-title h1{
    font-size: 1vw;
    bottom: 0;
    text-align: left;
   }

